.section2{
    margin: 1em  3em 1em;
    min-height: 89vh;
}
.section2 h3{
    text-align: center;
    font-size: 30px;
} 
.about-info{
    display: grid;
    place-items: center;
    justify-content: stretch;
}
.about-info img{
    border-radius: 10px;
    max-width: 500px;
    max-height: 500px;
}
@media screen and (min-width:800px) {
    .section2{
        margin: 1em  5em 1em;
    }
    .about-info{
        font-size: 20px;
        line-height: 1.6em;
    }
}
@media screen and (min-width:1200px) {
    .section2{
        margin: 1em  8em 1em;
    }
    .about-info p{
        margin-top: 2rem;
    }
}
