.login{
    display: grid;
    place-items: center;
    align-items: center;
    margin-block: 3em;
  }
  .form-control{
    width: 100%;
  }
  .conatiner h3{
    text-align: center;
    font-size: 30px;
  }
  .conatiner{
    margin: 0 2em;
    min-height: 550px;
    display: grid;
    place-items: center;
  }
  .login-form{
    display: grid;
    place-items: center;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

  }
  .login a{
    transition: all 250ms ease-in-out;
    color: #212529;
    text-decoration: underline;
  }
  .login-btn{
    background-color: white;
    font-weight: bold;
    color: #212529;
    border: 1px solid #212529;
    border-radius: 4px;
    padding: .5em;
    transition: all 250ms ease-in-out;
    font-family: 'Dancing Script', cursive;
    width: 75%;
  }
  .login-btn:hover{
    background-color: #212529;
    color: white;
    border: 1px solid #212529;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .change{
    border: none;
    background-color: transparent;
    color: black;
    margin-top: 1rem;
  }
  .input-cont{
    width: 90%;
  }
  .login input{
    height: 2rem;
    width: 100%;
  }
  .form-label{
    margin-top: 1rem;
    text-align: left;
  }
  .login-btn{
    transform: scale(1.2);
  }
